# Zelotes F-35C (Telink): wireless receiver 320f:2261, wired mode 320f:222e
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="320f", ATTRS{idProduct}=="2261", MODE="0660", TAG+="uaccess"
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="320f", ATTRS{idProduct}=="222e", MODE="0660", TAG+="uaccess"
